@model Diplomka.Models.Order

@{
    ViewBag.Title = "Новый заказ";
}

<h3>Добавление нового заказа</h3>

<form asp-action="Create" asp-controller="Order">
    <div class="form-group">
        <label asp-for="FactoryID" class="control-label">Заказчик</label>
        <select asp-for="FactoryID" asp-items="ViewBag.Factory" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="GrainID" class="control-label">Вид лекарств</label>
        <select asp-for="GrainID" asp-items="ViewBag.Grain" class="form-control"></select>
    </div>      

    <div class="form-group">
        <label asp-for="Volume" class="control-label">Объём</label>
        <input type="number" asp-for="Volume" class="form-control" required />
    </div>
   
    <div class="form-group">
        <label asp-for="DeliveryDate" class="control-label">Дата доставки</label>
        <input type="datetime-local" asp-for="DeliveryDate" class="form-control" required />
    </div>

    <div class="form-group">
        <input type="submit" value="Оформить заказ" class="btn btn-primary" />
    </div>
</form>
<a asp-action="BackToHome" class="btn btn-primary"> Отмена</a>
