@model Diplomka.Models.LoginModel
<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Signin Template · Bootstrap v5.2</title>
   @* <link rel="stylesheet" href="css/signin.css">*@

   <style>
        
       .form-signin {
            max-width: 330px;
            padding: 15px;
        }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
    </head>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <img class="mb-4" src="~/logo.png" alt="" width="112" height="50">
            <h1 class="h3 mb-3 fw-normal">Вход</h1>

            <div class="form-floating">
                <label asp-for="UserName">Введите имя пользователя &nbsp;</label><br />
                <input class="form-control" id="floatingInput" type="text" asp-for="UserName" required />
                <span asp-validation-for="UserName" />
            </div>
            <div class="form-floating">
               <label asp-for="Password">Введите пароль</label><br />       
            <input class="form-control" id="floatingInput" asp-for="Password" required />
            <span asp-validation-for="Password" />
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            <p class="mt-5 mb-3 text-muted">&copy; GrandPharm</p>
        </form>
    </main>
</body>